<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <!--<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>-->



<nav class="navbar navbar-expand-lg navbar-light bg-primary">
  <img class="navbar-brand" src="../../assets/logo3.png" href="#"/>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="nav justify-content-end">
      <li class="nav-item">
        <a class="nav-link" href="#" style="color:white">Gift Cards</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#" style="color:white;">Lists</a>
      </li>
       <li class="nav-item">
        <a class="nav-link" href="#" style="color:white;">Weekly Ads</a>
      </li>

<li class="nav-item">
        <a class="nav-link" href="#" style="color:white;">Digital Coupons</a>
      </li>
        
      <li class="nav-item">
        <a class="nav-link" href="#" style="color:white;">Help</a>
      </li>
    </ul>
    
  </div>
</nav>

