#navbarSupportedContent{
  flex-direction: row-reverse;
  font-size:15px;
}

h1 {
    text-shadow: 2px 2px #2E4FA0;
    text-decoration: underline;
    color:white;
}
.navbar-brand {
    width: auto;
    height: 3rem;

}
@media only screen and (max-width: 768px) {
    .justify-content-end {
        display: block;
    float: right;
    }

    
}