<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">


<footer>
<!--<div class="container" id="div1">
    <div class="row">
        <div class="col-md-offset-1 col-md-3">
            <h4>Contact With Us:</h4>
            <i class="fa fa-twitter" style="font-size:36px;color:#2E9AFE"></i>




        </div>
        <div class="col-md-3"></div>
        <div class="col-md-3"></div>
    </div>
</div>-->

<div  id="div1" style="padding:1%">
        <div class="contact-us">  <span>Contact With Us:</span> </div>
        <div class="social-icons ">
          <div class=" icons-div" ><i class="fa fa-twitter" style="font-size:36px;color:#2E9AFE"></i></div>
          <div class=" icons-div" ><i class="fa fa-facebook-square" style="font-size:36px;color:#0068b3"></i></div>
          <div class=" icons-div" ><i class="fa fa-youtube" style="font-size:36px;color:red"></i></div>
          <div class=" icons-div" ><i class="fa fa-pinterest" style="font-size:36px;color:red"></i></div>
        </div>
    </div>

<div  id="div2">
        <div id= "subdiv" style="text-align:left">  
          <span>ABOUT THE COMPANY</span>
          <table>
            <tr>
                <td> <span>About the company</span> </td>
            </tr>
            <tr>
                <td> <span>Advertise With Us</span> </td>
            </tr>
            <tr>
                <td> <span>Careers</span> </td>
            </tr>
            <tr>
                <td> <span>Community</span> </td>
            </tr>
            
</table>
  </div>

        <div id= "subdiv" style="text-align:left"> 
          <span>COMMUNITY</span>
          <table>
            <tr>
                <td> <span>Sharing Courage</span> </td>
            </tr>
            <tr>
                <td> <span>Salvation Army</span> </td>
            </tr>
            <tr>
                <td> <span>Sustainability</span> </td>
            </tr>
            <tr>
                <td> <span>Community Rewards</span> </td>
            </tr>
            
</table>
</div>


        <div id= "subdiv" style="text-align:left">
          <span>CUSTOMER SERVICES</span>
          <table>
            <tr>
                <td> <span>FAQs</span> </td>
            </tr>
            <tr>
                <td> <span>Account Registration</span> </td>
            </tr>
            <tr>
                <td> <span>Contact Us</span> </td>
            </tr>
            <tr>
                <td> <span>Customer Comments</span> </td>
            </tr>
            
</table>
           </div>


    
        <div id= "subdiv"  style="text-align:left"> 

            <span>ONLINE SERVICES</span>
          <table>
            <tr>
                <td> <span>Digital Coupons</span> </td>
            </tr>
            <tr>
                <td> <span>Gift Cards</span> </td>
            </tr>
            <tr>
                <td> <span>Mobile App</span> </td>
            </tr>
            <tr>
                <td> <span>Receipes</span> </td>
            </tr>
            
</table>
</div>
        <div id= "subdiv"  style="text-align:left"> 
  <span>GET THE CARD</span>
          <table>
            <tr>
                <td> <span>Learn More</span> </td>
            </tr>
            <tr>
                <td> <span>Save On Fuel</span> </td>
            </tr>
            <tr>
                <td> <span>Earn Free Groceries</span> </td>
            </tr>
            <tr>
                <td> <span>Manage My Card</span> </td>
            </tr>
            
</table>
</div>
    </div>



<div id="div3">
  
  <div>All Contents Copyright 2018 The Logo1 Co.All Rights Reserved</div>

  <div>If you are using a screen reader and having difficulty with this website please call 1-800-342-6663.</div>
  

</div>
</footer>