#div1{
    /*margin-top: 92%;*/
    background-color: #e7e8e9;
    
}

#div2{

    /*maring-top:98%;*/
    background-color: #ecf0f9;
}
footer{

    margin-top:92%;
}
#div3{

    /*maring-top:98%;*/
    background-color: #ecf0f9;
}
hr{
    color:black;
}