
  <div class="menu-container-class">
    <div class="dropdown-container">
  <div ngbDropdown class="d-inline-block" *ngFor="let category of categories">
      <button class="btn btn-outline-primary" id="dropdownBasic1" ngbDropdownToggle>{{category.categoryTitle}}</button>
      <div ngbDropdownMenu aria-labelledby="dropdownBasic1" >
        <a *ngFor="let menuItem of category.menuItems" href= "{{menuItem.url}}" class="dropdown-item">{{menuItem.value}}</a>
      </div>
  </div>
</div>

      <ng-template #content let-c="close" let-d="dismiss">
          <div class="modal-header">
              <h4 class="modal-title">Store Finder</h4>
              <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            
        <div class="modal-body-class">
          <div class="StoreSearchDropdown-userStoreInfo col-md-6"><div class="UserStoreInfo-heading">To start shopping now, find a store!</div></div>
          <div class="StoreSearchDropdown-searchAndStoresNearYou col-md-6">
            <div class="StoreSearchDropdown-dropdownSearch">
              
                <div class="DropdownSearch-findAStore">
                  <label for="DropdownSearch-searchInput">Find a Store</label>
                </div>
               
                <form class="example" action="/action_page.php" style="margin:auto;max-width:300px">
                  <input #ZipCode type="text" placeholder="ZIP code" class="Input-input" name="ZipCode">
                  <button type="submit" class="btn btn-primary search-btn" (click)="search(ZipCode.value);" > <span class="Button-children">Search</span></button>
                </form>
                <div class="search-results-table">
                <table id="customers">
                  
                    <tr *ngFor="let results of searchedData">
                      <td>{{results.area}}</td>
                      <td>{{results.city}}</td>
                    </tr>
                    <br/><br><br>
                  </table>
                </div>

                
            </div>
          </div>
         </div>
        </ng-template>
        <div class="header-submenu_logout_findstore">
            <!-- <a >Welcome!! {{value}} </a> -->
           
           <div class="findStore" (click)="open(content)">
          
            <svg fill="currentColor" viewBox="0 0 1792 1792" class="Icon-svg" focusable="false" style="vertical-align: middle; margin: 2px;">
                <path d="M896 75c363 0 658 294 658 658 0 369-418 716-658 984-241-268-658-615-658-984 0-364 295-658 658-658zm0 137a1 1 0 0 0 0 1021 1 1 0 0 0 0-1021z"></path>
              </svg>
            <a class="StoreHeader-desktop" >Find a Store to Shop!</a>
          </div>
          <div class="logout-section" *ngIf="Cookievalue">
              <button class="btn btn-outline-primary" (click)="delete()">logout</button>
            </div>
        </div>
    </div>

      <!--
        <div class="menu-container" id="ng-app" ng-app ng-controller="getMenueData">
  <div class="menuList" ng-repeat="post in posts" >
    
    <h3>Original JSON file: {{_getData()}}</h3> 
  </div>
  </div>

  <div class="menu-container" id="ng-app" ng-app ng-controller="getMenueData">
    <div class="menuList" ng-repeat="post in posts" >
      
      <h3>Original JSON file: {{_getData()}}</h3> 
    </div>
    </div>
       -->