<div class="cardHover addProductButton ProductCard col-xs-6 col-sm-4 col-md-3 col-lg-2" (click)=openAddProductPopup(addProductPopup)>
  +
</div>

<ng-template #addProductPopup let-c="close" let-d="dismiss">
  <div id="modalpopup">

    <div class="modal-header">
      <h1 class="add-Product-heading modal-title">Add Product</h1>
      <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>

    <div class="modal-body">

      <div style="margin-bottom:2%">
        <span>Add details below</span>
      </div>

      <form action="#"  (ngSubmit)="addProduct();c();" #addProductForm="ngForm">

        <div class="form-group">
          <label for="ProductId">
            <b>Product ID</b>
          </label>
          <input type="text" class="form-control col-md-12 col-lg-12" name="productId" placeholder="Enter Product ID" [(ngModel)]="productToAdd.id" #productId="ngModel"  required>
        </div>


        <div class="form-group">
          <label for="ProductTitle">
            <b>Product Title</b>
          </label>
          <input type="text" class="form-control col-md-12 col-lg-12" name="productTitle" placeholder="Enter Product Title" [(ngModel)]="productToAdd.title" #productTitle="ngModel" required >
        </div>

        <div class="form-group">
          <label for="ProductDescription">
            <b>Product Desciption</b>
          </label>
          <input type="text" class="form-control col-md-12 col-lg-12" name="productDescription" placeholder="Enter Product Description" [(ngModel)]="productToAdd.description" #productDescription="ngModel" required>
        </div>

        <div class="form-group">
          <label for="ProductImageUrl">
            <b>Product Image URL</b>
          </label>
          <input type="text" class="form-control col-md-12 col-lg-12" name="productImageUrl" placeholder="Enter Product Image URL" [(ngModel)]="productToAdd.imageUrl" #productImageUrl="ngModel" required>
        </div>
        <button class="btn btn-primary" type="submit" [disabled]="addProductForm.invalid">Add Product</button>
      </form>

    </div>

  </div>
</ng-template>  