<div class="signin_Container col-lg-3 col-md-3">
  <div>
    <h2 class="signIn_heading"><b>Check<span style="color:#004a80">List</span></b></h2>
  </div>
  <div>
    <p>To create and edit your shopping cart,<br> 
    sign in to your account</p>
  </div>
  <app-sign-in-button></app-sign-in-button>
  <hr>
  <div *ngIf="!cookieValue">
    <div>
      <p>Don't have an account?</p>
    </div>
    <div style="text-align: center">
      <button routerLink="/createAccount" class="btn btn-primary " style="width:80%"><a class ="create-account-button" >Create an Account</a></button>
    </div>
</div>
</div>
