/* You can add global styles to this file, and also import other style files */
@import "./app/css/bootstrap.css";
input.ng-valid.ng-touched {
 
border: 1px solid #5cb85c;
border-left: 5px solid #5cb85c;
}
 
input.ng-invalid.ng-touched {
 
border: 1px solid #de2f2f;
border-left: 5px solid #de2f2f;
}​
.btn-link
{
    color:red;
}
.ProductCard
{
    position: relative;
    width: 100%;
    border: 1px solid #e7e8e9;
    outline: none;
   margin: 1rem;
   padding-bottom: 15px;
   font-family: Roboto, sans-serif;
    color: #404040;
    max-width: 277px;
    min-width: 277px;
}
.cardHover:hover
{
    transition: transform .2s;
    transform: translate3d(-5px,-5px,-5px);
    box-shadow: 0 3px 10px 0 hsla(0,0%,53%,.2);
    z-index: 1;
}
.cardHover
{
    
    transition: transform .2s;

}
.ProductCard-imageBlock
{
    height: 10rem;
    padding: 0.1rem;
    
}
.Product-Image
{
    margin: 0.2rem;
    width: auto;
    height: auto;
    
    display: block;
    margin-left: auto;
    margin-right: auto;
    max-width: 90%;
    max-height: 9rem;
}
.Product-Title
{
    font-size: 1rem;
}
.Product-Description
{
    font-size: 0.7rem;
}
.row
{
    margin: 0.5rem 0rem 0rem 0rem;
}
.EditButton,.DeleteButton
{
    width: 48.5%;
}
.signInButton
{
    width: 97%;
}
.ProductCard-buttonsBlock
{
    bottom: 0rem;
}

.addProductButton
{
    font-size: 10rem;
    width: 277px;
    text-align: center;
    height: 17rem;
    cursor: pointer;
}

.ContainerGrid-header-container {
margin: 1rem;
color: #007bff;
font-size: 20px;
font-family: sans-serif;
}

.bs-popover-top {
    left: 0px !important;
}
